<h1> Tweets index </h1>
<div>
    <div>	
    <% @tasks.each  do |task|%>
        <% if task.id == 1 %>  
             <table class="twets_top" >
                <tr >
                     <td> <p>  <%= task.user.username %> </td>  <td class="tabla">  <%=task.description %>  </p>
                         <p> <%= link_to('Detalles', task_path(task.id)) %>
                            <% if current_user.id == task.user_id %>
                                 <%= link_to('Delete', task_path(task.id), method: 'delete', data: {confirm: "Are you SURE?"}) %>
                             <%end%>
                            </p>
                      </td>
                </tr>
            </table>
        <%else%>
        <table class="twets" >
            <tr  >
                <td> <p><%= task.user.username %> </td>  <td class="tabla">  <%=task.description %> </p>
                     <p> <%= link_to('Detalles', task_path(task.id)) %>
                        <% if current_user.id == task.user_id %>
                            <%= link_to('Delete', task_path(task.id), method: 'delete', data: {confirm: "Are you SURE?"}) %>
                        <%end%>
                        </p>
                 </td>
                
            </tr>
        </table>
        <%end%>
 
        <%end%>

    </div>
</div>
</div>

<%= link_to('New Twitt', new_task_path)%>




