<h2>Nuevo Task</h2>


<%= form_with(model: Task, local: true) do |form|%>
    <%= form.label :description %>
    <%= form.text_area :description %>
    <%= form.submit "Postear" %>
<%end%>

<%= link_to('Ver Tasks', tasks_path)%>

