<h2>Nuevo Task</h2>
<div>
    <div class="post">
            <%= form_with(model: Task, local: true) do |form|%>
                <div>
                    <%= form.label :description %>
                    <%= form.text_area :description, size: "70x5", class: "text_area_task" %>
                    <%= form.submit "Postear" %>
                </div>
            <%end%>
        </div>
</div>


<%= link_to('Ver Twitts', tasks_path)%>

