<h3>Detalles</h3>
<div>
    <div class="twets_contend">
        <div class="twets_bar_sup">
           <label>  <b> <%= @task.user.name %>  </b> </label> <label class="der"> <%= @task.user.username %> </label>
        </div>
        <div class="twets_bar_cen">
            <%= @task.id %>   - 
            <%= @task.description %>
        </div>
        <div class="twets_bar_inf">
            <% if current_user.id == @task.user_id %>
                <%= link_to('Delete', task_path(@task.id), class:"rst", method: 'delete', data: {confirm: "Are you SURE?"})  %>
            <%end%>
        </div>
    </div>
 </div>
<%= link_to('View all Twitts', tasks_path, class: "rst") %>