<header>
    <h1> Tweets index </h1>
</header>
<div>
    <% @tweets.each  do |tweet|%>
            <div class="twets_contend">
                <!-- Aqui se si mostrar el borde superior o no-->
                <% if tweet.id == 1 %> 
                    <hr class="borde_first" >      
                <%end%>
                <!-- Aqui se muestra el nombre -->
                <div class="twets_bar_sup">
                <label>  <b> <%= tweet.user.name %>  </b> </label> <label class="der"> <%= tweet.user.username %> </label>
                </div>
                <!-- Aqui se muestra la descripcion -->
                <div class="twets_bar_cen">
                    <%=tweet.description %>
                </div>
                <%= image_tag(tweet.image , :size => "180x135")  if tweet.image.attached?%>
                <!-- Aqui se muestra la informacion del tweet y si eres el dueno de el-->
                <!-- lo puedes borrar  -->
                <div class="twets_bar_inf">
                    <%= link_to('Detalles', tweet_path(tweet.id), class:"rst",) %>
                    <% if current_user.id == tweet.user_id %>
                        <%= link_to('Delete', tweet_path(tweet.id), class:"rst", method: 'delete', data: {confirm: "Are you SURE?"}) %>
                    <%end%>
                </div>
                <hr  class="borde">
            </div>
    <%end%>
</div>
<%= link_to('New Twett', new_tweet_path , class:"rst")%>




