<header>
    <h1> Hashtags index </h1>
</header>
<div>
    <% @tweets.each  do |tweet|%>
            <div class="twets_contend">
                <!-- Aqui se si mostrar el borde superior o no-->
                <% if tweet.id == 1 %> 
                    <hr class="borde_first" >      
                <%end%>
                <!-- Aqui se muestra el nombre -->
                <div class="twets_bar_sup">
                <label>  <b> <%= tweet.user.name %>  </b> </label> <label class="der"> <%= link_to(tweet.user.username, user_path(id: tweet.user.id), class:"rst", method: 'get') %> </label>
                </div>
                <!-- Aqui se muestra la descripcion -->
                <div class="twets_bar_cen">
                    
                  <%= render_with_hashtags(tweet.description).html_safe %>
                </div>
                <%= image_tag(tweet.image , :size => "180x135")  if tweet.image.attached?%>
                <%=tweet.likes.length %>
                <br>
                <!-- Aqui se muestra la informacion del tweet y si eres el dueno de el-->
                <!-- lo puedes borrar  -->
                <div class="twets_bar_inf">
                    <%= link_to('Detalles', tweet_path(tweet.id), class:"rst",) %>
                    <% if current_user.id == tweet.user_id %>
                        <%= link_to('Delete', tweet_path(tweet.id), class:"rst", method: 'delete', data: {confirm: "Are you SURE?"}) %>
                    <%end%>
                    <%if (current_user.like(tweet.id).blank?) %>
                         <%= link_to('Like', likes_path(id: tweet.id), class:"rst", method: 'post') %>
                    <%else %>
                        <%= link_to('Dislike', like_path(id: tweet.id), class:"rst", method: 'delete') %>
                    <%end %>

                </div>
                <hr  class="borde">
            </div>
    <%end%>
</div>
<%= link_to('New Twett', new_tweet_path , class:"rst")%>




